:root {
    --transparent: rgba(0,0,0,0);
    --white: rgba(255,255,255,1);
    --black: rgba(0,0,0,1);
    --font: 'Kanit', sans-serif;
}
*, 
*:before, 
*:after {
    box-sizing: border-box;
    user-select: none;
}

img {
    pointer-events: none;
}

html {
    font-family: var(--font);
	font-size: 62.5%;
	text-size-adjust: 100%;
}

body {
    line-height: 1;
    background: var(--black);
    color: var(--black);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.master {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

button, input {
    text-shadow: 3px 3px 5px var(--black);
    font-weight: 300;
    line-height: 1;
}

button svg {
    filter: drop-shadow(3px 3px 5px var(--black));
}

.container {
    width: 720px;
    height: 1280px;
    display: flex;
    justify-content: center;
    position: relative;
    background: linear-gradient(300deg,#000, #333, #666);
    background-size: 160% 160%;
    animation: gradient-animation 10s ease infinite;
    text-shadow: 3px 3px 5px var(--black);
    font-weight: 300;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.hide {
    display: none;
}

.title {
    font-size: 60px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    margin: 0 auto;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    z-index: 50;
}

.menu {
    width: 100%;
    position: absolute;
    top: 300px;
}
.menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
}

.menu__btn {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    appearance: none;
    background: rgba(255, 255, 255, .25);
    color: var(--white);
    border: 3px solid rgba(255, 255, 255, .75);
    font-family: var(--font);
    font-size: 60px;
    padding: 20px;
    grid-gap: 30px;
    box-shadow: 3px 3px 5px var(--black);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.menu ul li:nth-child(odd) .menu__btn {
    border-left: 0;
    border-radius: 0 10px 10px 0;
}

.menu ul li:nth-child(even) .menu__btn {
    border-right: 0;
    border-radius: 10px 0 0 10px;
}

.menu__btn-icon {
    width: 120px;
    height: 120px;
}

.menu__btn-icon svg {
    width: 120px;
}

.menu__btn-icon--cards {
    position: relative;
}

.menu__btn-icon--cards svg {
    position: absolute;
    top: 0;
    z-index: 20;
}

.menu__btn-icon--cards svg:first-child {
    left: -10px;
    top: -5px;
    z-index: 10;
}

.menu__btn-icon--cards svg:nth-child(2) {
    left: 15px;
    top: 20px;
    z-index: 10;
}

.games,
.wallet,
.warmenu {
    width: 100%;
    position: absolute;
    top: 150px;
}

.games ul,
.wallet ul,
.warmenu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-gap: 40px;
}

.wallet__btn,
.games__btn,
.warmenu__btn {
    display: flex;
    width: 80%;
    margin-right: auto;
    appearance: none;
    background: rgba(255, 255, 255, .25);
    color: var(--white);
    border: 3px solid rgba(255, 255, 255, .75);
    border-left-width: 0;
    font-family: var(--font);
    font-size: 40px;
    padding: 10px 20px;
    grid-gap: 30px;
    box-shadow: 3px 3px 5px var(--black);
    border-radius: 0 10px 10px 0;
    align-items: center;
    text-align: left;
    height: 150px;
    overflow: hidden;
}

.warmenu__btn {
    height: 120px;
    font-size: 50px;
}

.wallet__btn-text,
.games__btn-text {
    width: 60%;
}

.warmenu__btn-text {
    width: 100%;
}

.games__btn-cards {
    position: relative;
    display: flex;
    width: 50%;
    height: 40px;
}

.games__btn-cards img {
    width: 160px;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 0 0 10px var(--black);
    border-radius: 5px;
}

.games__btn-cards--poker img:nth-child(1) {
    right: 120px;
    top: -15px;
    transform: rotate(-20deg)
}
.games__btn-cards--poker img:nth-child(2) {
    right: 100px;
    top: -15px;
    transform: rotate(-10deg)
}
.games__btn-cards--poker img:nth-child(3) {
    right: 80px;
    top: -10px;
}
.games__btn-cards--poker img:nth-child(4) {
    right: 60px;
    top: -5px;
    transform: rotate(10deg)
}
.games__btn-cards--poker img:nth-child(5) {
    right: 40px;
    top: 0px;
    transform: rotate(20deg)
}

.games__btn-cards--blackjack img:nth-child(1) {
    right: 100px;
    top: -15px;
    transform: rotate(-10deg)
}
.games__btn-cards--blackjack img:nth-child(2) {
    right: 80px;
    top: -5px;
    transform: rotate(10deg)
}

.games__btn-cards--war img:nth-child(1) {
    right: 80px;
    top: -60px;
    transform: rotate(-10deg)
}
.games__btn-cards--war img:nth-child(2) {
    right: 90px;
    top: 10px;
    transform: rotate(-10deg)
}

.games__btn-cards--pokemon img:nth-child(1),
.games__btn-cards--mtg img:nth-child(1) {
    right: 80px;
    top: -30px;
    transform: rotate(-10deg)
}
.games__btn-cards--pokemon img:nth-child(2),
.games__btn-cards--mtg img:nth-child(2) {
    right: 60px;
    top: -20px;
    transform: rotate(10deg)
}

.wallet__btn {
    margin: 0 0 0 auto;
    border-radius: 10px 0 0 10px;
    border-left-width: 3px;
    border-right-width: 0;
    flex-direction: row-reverse;
}

.wallet__btn-text {
    text-align: right;
    width: 70%
}

.warmenu__btn-sub,
.wallet__btn-sub {
    display: inline-block;
    font-size: 30px;
    margin-top: 10px;
}

.wallet__btn-cards {
    position: relative;
}

.wallet__btn-cards img {
    border-radius: 15px;
    height: 120px;
    position: absolute;
    right: -75px;
    top: -15px;
    box-shadow: 0 0 10px var(--black);
    border-radius: 5px;
    transform: rotate(45deg)
}

.debit {
    position: relative;
    width: 720px;
    height: 0;
}

.debit__card {
    position: absolute;
    top: 0;
    left: 720px;
    transform: rotate(90deg);
    transform-origin: 0 0 ;
}

.debit__card img {
    z-index: 10;
    width: 1280px;
    height: 720px;
}

.debit__card img:last-child {
    display: none;
}

.debit__card.flip img:first-child {
    display: none;
}

.debit__card.flip img:last-child {
    display: block;
}




.card {
    position: relative;
    height: 980px;
}

.card img {
    position: relative;
    z-index: 10;
    height: 980px;
}

.card__btn {
    z-index: 20;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    appearance: none;
    border: 0;
    background: 0;
    font-family: var(--font);
    left: 0;
    padding: 0;
}

.card__btn--next {
    right: 0;
    left: auto;
}

.card__btn-icon svg {
    width: 60px;
    height: 60px;
    fill: var(--black);
}

.nav {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav--hide {
    display: none;
}

.drawer__btn,
.nav__btn {
    display: flex;
    align-items: center;
    appearance: none;
    color: var(--white);
    border: 0;
    font-family: var(--font);
    font-size: 40px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, .4);
    color: var(--white);
    border: 3px solid rgba(255, 255, 255, .6);
    box-shadow: 3px 3px 5px var(--black);
    grid-gap: 20px;
}

.drawer__btn {
    width: 100%;
    flex-direction: row-reverse;
}

.nav__btn--left {
    border-left: 0;
    border-radius: 0 10px 10px 0;
}

.drawer__btn,
.nav__btn--right {
    border-right: 0;
    border-radius: 10px 0 0 10px;
}

.drawer__btn-icon svg,
.nav__btn-icon svg {
    width: 60px;
}

.drawer {
    position: absolute;
    bottom: 60px;
    right: 0;
    width: 300px;
}

.drawer ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-gap: 60px;
}

.pattern,
.login {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    color: var(--white);
}

.login__lbl {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    padding: 0 0 60px;
}

.login__guest,
.login__input {
    background: rgba(255, 255, 255, .2);
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, .4);
    box-shadow: 3px 3px 5px var(--black);
    height: 120px;
    width: 100%;
    margin: 0 auto;
    display: block;
    color: var(--white);
    font-size: 50px;
    font-weight: 500;
    font-family: var(--font);
    padding: 20px 80px 20px 20px;
    outline: 0;
}

.login__guest {
    height: auto;
    font-size: 40px;
    font-weight: 300;
    padding: 10px 20px;
    width: auto;
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.login__btn {
    position: absolute;
    right: 15px;
    top: 120px;
    background: 0;
    border: 0;
    outline: 0;
    color: var(--white);
    padding: 0;
}

.login__btn svg {
    width: 80px;
    height: 80px;
}

.login__keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-top: 60px;
}

.login__key {
    background: rgba(255, 255, 255, .2);
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, .4);
    box-shadow: 3px 3px 5px var(--black);
    font-size: 50px;
    font-weight: 500;
    padding: 10px 20px;
    text-align: center;
}

.login__key:last-child {
    grid-column-start: 2;
}

.pattern {
    color: var(--white);
    width: 80%;
}

.pattern__pattern {
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 140px 120px;
}

.pattern__dot {
    width: 40px;
    height: 40px;
    background: var(--white);
    box-shadow: 3px 3px 5px var(--black);
    border-radius: 50%;
}

.pattern .login__guest {
    bottom: -164px;
}

.wargame {
    position: relative;
    width: 720px;
    height: 0;
}

.wargame__card {
    position: absolute;
    top: 0;
    left: 0;
}

.wargame__card img {
    z-index: 10;
    width: 720px;
    height: 1100px;
}

.wargame__card img:last-child {
    display: none;
}

.wargame__card.flip img:first-child {
    display: none;
}

.wargame__card.flip img:last-child {
    display: block;
}

.view {
    display: none;
}

.view-login .login,
.view-pattern .pattern,
.view-drawer .drawer,
.view-menu .menu,
.view-games .games,
.view-wallet .wallet,
.view-debit .debit,
.view-detect .detect,
.view-warmenu .warmenu,
.view-wargame .wargame {
    display: block;
}

.view-drawer .view:not(.drawer),
.view-drawer .title,
.view-drawer .nav {
    display: none;
}

.view-login .nav,
.view-pattern .nav,
.view-detect .nav {
    display: none;
}

.view-master:not(.view-menu) .nav__btn--help,
.view-master:not(.view-menu) .nav__btn--logout,
.view-menu .nav__btn--back,
.view-menu .nav__btn--menu {
    display: none;
}

.view-master:not(.view-menu) .nav__btn--back,
.view-master:not(.view-menu) .nav__btn--menu {
    display: block;
}

.view-menu .title {
    text-align: center;
    line-height: 1.25;
}

.view-games .title {
    top: 40px;
    justify-content: flex-start;
}

.view-wallet .title {
    top: 40px;
    justify-content: flex-end;
}

.view-debit .title,
.view-wargame .title {
    justify-content: center;
    top: auto;
    bottom: 80px;
    font-size: 50px;
}

.view-debit .container {
    background: var(--black);
}

.view-detect .title {
    justify-content: center;
    text-align: center;
    top: 180px;
}

.view-warmenu .title {
    top: 40px;
    justify-content: flex-start;
}